<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Noi's website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="stylesheet" href="css/index.css" rel="stylesheet"/>
        <script src="script.js" async defer></script>

        <style> 
            body 
            {
                background-color: rgb(42, 43, 49);
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: white;
            }
            .header
            {
                text-align: center;
                padding-top: 3%;
            }
        </style>
    </head>

    <body>
        <div class="header">
        <h1> Welcome </h1>
        </div>


    </body>
</html>